 <script id="Listing-template" type="text/x-handlebars-template">
 {{#each listings}}
<td width="140" align="left" valign="top">
 	<!-- search result module -->
 	<div><a href="#"><img src="{{this.photo.href}}" width="140" height="105" style="display:inline; border:0;" /></a></div>
     <table cellpadding="0" cellspacing="0"><tr><td width="140" height="13"><!-- optional special feature gradient --></td></tr></table>
     <div style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:15px; color:#999999; margin-bottom:4px;">
     	<a href="#" style="font-size:13px; color:#477aba; text-decoration:underline;">{{this.address.line}} </a><br />
         {{this.address.city}}, {{this.address.state}}<br />
         <b style="font-size:13px; color:#3f9301;">{{this.price}}</b><br />
         <font style="color:#808080;">{{this.beds}} Bed, {{this.baths}} Bath</font><br />
         <a href="#" style="color:#4679b8; text-decoration:underline;">Save Listing</a><br />
         <font style="color:#666666;">10 characters</font>
     </div>
             
     <!-- price reduced tag -->
     <table cellpadding="0" cellspacing="0">
         <tr><td bgcolor="#3f9200"><div style="font-family:Arial, Helvetica, sans-serif; font-size:9px; line-height:13px; color:#ffffff; margin-left:3px; margin-right:3px;">PRICE&nbsp;REDUCED</div></td></tr>
         <tr><td height="5"></td></tr>
     </table><!-- price reduced tag -->
              
     {{#if this.distressed}}
     <!-- foreclosure tag -->
     <table cellpadding="0" cellspacing="0">
     	<tr><td bgcolor="#d17e47"><div style="font-family:Arial, Helvetica, sans-serif; font-size:9px; line-height:13px; color:#ffffff; margin-left:3px; margin-right:3px;">FORECLOSURE</div></td></tr>
         <tr><td height="5"></td></tr>
     </table><!-- foreclosure tag -->
     {{/if}}
             
     <!-- new photo module -->
     <table cellpadding="0" cellspacing="0">
         <tr><td height="1" colspan="3" bgcolor="#e6e6e6"></td></tr>
         <tr>
             <td width="1" bgcolor="#e6e6e6"></td>
             <td width="138" bgcolor="#f4f3fb">
                 <table cellpadding="0" cellspacing="0"><tr><td width="1" height="6"></td></tr></table>
                 <div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:13px; color:#525767; font-weight:bold; margin-left:6px; margin-right:5px; margin-bottom:6px;">
                     New Photo
                 </div>
             </td>
             <td width="1" bgcolor="#e6e6e6"></td>
         </tr>
         <tr><td height="1" colspan="3" bgcolor="#e6e6e6"></td></tr>
     </table><!-- new photo module -->
             
     <!-- additional attributes -->
     <table cellpadding="0" cellspacing="0">
         <tr><td height="1" colspan="3" bgcolor="#ffebb1"></td></tr>
         <tr>
             <td width="1" bgcolor="#ffebb1"></td>
             <td width="138" bgcolor="#fffbed">
                 <table cellpadding="0" cellspacing="0"><tr><td width="1" height="2"></td></tr></table>
                 <div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:17px; color:#535768; font-weight:bold; margin-left:6px; margin-right:5px;">
                     Virtual Tour<br />
                 </div>
                     <table cellpadding="0" cellspacing="0"><tr><td width="138" height="1"><img src="images/attribute_divider.gif" width="138" height="1" style="display:block;" /></td></tr></table>
                 <div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:17px; color:#535768; font-weight:bold; margin-left:6px; margin-right:5px;">
                     New Photo<br />
                 </div>
                     <table cellpadding="0" cellspacing="0"><tr><td width="138" height="1"><img src="images/attribute_divider.gif" width="138" height="1" style="display:block;" /></td></tr></table>
                 <div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:17px; color:#535768; font-weight:bold; margin-left:6px; margin-right:5px;">
                     <br />
                 </div>
                     <!-- additional attributes go here -->
             </td>
             <td width="1" bgcolor="#ffebb1"></td>
         </tr>
         <tr><td height="1" colspan="3" bgcolor="#ffebb1"></td></tr>
     </table><!-- additional attributes -->
     {{#if this.next_open_house}}
     <!-- open house module -->
     <table cellpadding="0" cellspacing="0">
     	<tr><td height="1" colspan="3" bgcolor="#ffebb0"></td></tr>
     	<tr>
         	<td width="1" bgcolor="#ffebb0"></td>
         	<td width="138" bgcolor="#fffbed">
                 <table cellpadding="0" cellspacing="0"><tr><td width="1" height="6"></td></tr></table>
                 <div style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:13px; color:#3b3f4d; margin-left:6px; margin-right:5px; margin-bottom:6px;">
                     <b>Open House:</b><br />
                     {{#humanDate this.next_open_house.start_date}} {{/humanDate}}
                 </div>
         	</td>
             <td width="1" bgcolor="#ffebb0"></td>
         </tr>
         <tr><td height="1" colspan="3" bgcolor="#ffebb0"></td></tr>
     </table><!-- open house module -->
     {{/if}}
     <!-- search result module -->
 </td>
 <td width="10"></td>
{{/each}}
</script>