<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>Handlebars Templating Project</title>
		<link href='/css/style.css' rel='stylesheet'></link>
		<script src='/js/lib/jquery-1.7.2.min.js'></script>
		<script src='/js/lib/base64.js'></script>
		<script src='/js/lib/underscore-min.js'></script>
		<script src='/js/lib/backbone-min.js'></script>
		<script src='/js/lib/backbone-nested.js'></script>
		<script src='/js/lib/handlebars.js'></script>
		<script src='/js/App/appMustacheHelpers.js'></script>
		<script src='/js/App/models.js'></script>
		<script src='/js/App/collections.js'></script>
		<script src='/js/App/views.js'></script>
		<script src='/js/App/routers.js'></script>
		<script src='/js/App/App.js'></script>
		
		</meta>
	</head>
	<body bgcolor="#cccccc">
		<a href="/my_mail" style="color:#4679b8; text-decoration:none;">&raquo; <u>My Mail</u></a> 
	<%= yield %>
	</body>
</html>